$primary-color: #4CAF50; // Verde principal
$background-color: #f0f4f7;
$error-color: #f44336;

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $background-color;
}

.login-box {
  background-color: white;
  border: 1px solid $primary-color;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;

  h2 {
    margin-bottom: 20px;
    color: $primary-color;
  }

  .form-group {
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 5px;
      color: $primary-color;
    }

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;

      &:focus {
        border-color: $primary-color;
        box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
      }
    }

    .error {
      margin-top: 5px;
      color: $error-color;
    }
  }

  button {
    background-color: $primary-color;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

    &:disabled {
      background-color: lighten($primary-color, 30%);
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background-color: darken($primary-color, 5%);
    }
  }
}
